/* global.css */
@import "tailwindcss";

:root {
  --background: #1e1e1e;
  --foreground: #ffffff;
}

@layer base {
  body {
    @apply bg-[var(--background)] text-[var(--foreground)]; /* Better Tailwind integration */
    font-family: Poppins, sans-serif;
  }
}

@layer utilities {
  .backdrop-blur-10 {
    backdrop-filter: blur(10px);
  }
  .shadow-navbar {
    box-shadow: 0 0 24px rgba(34, 42, 53, 0.06), 0 1px 1px rgba(0, 0, 0, 0.05),
      0 0 0 1px rgba(34, 42, 53, 0.04);
  }
}
